#content {
    max-width: 1600px;
    margin: 0 auto;
}

nav a,
#hero-msg h1,
#hero-msg h4,
.button-box,
main section {
    text-align: center;
}

body {
    background-color: #fcfbfb;
}

header {
    background-color: rgba(20, 30, 13, 0.7);
}

nav a:hover {
    background-color: black;
}

.book, .join {
    background-color: #d9c2a3;
}

.book:hover, .join:hover {
    background-color: black;
}

#background {
    height: 725px;
    background-color: #d9c2a3;
}

.msg {
    background-color: #6f7364;
}

footer {
    background-color: #6f7364;
}

nav a {
    color: #fcfbfb;
}

nav a:hover {
    color: #d9c2a3;
}

.home-title {
    color: #d9c2a3;
}

h4 {
    color: #fcfbfb;
}

.book, .join {
    color: #6f7364;
}

.book:hover, .join:hover {
    color: #d9c2a3;
}

.msg h2,
.msg p {
    color: #fcfbfb;
}

footer,
footer a {
    color: #fcfbfb;
}

footer a:hover {
    color: #d9c2a3;
}

.logo {
    width: 80px;
}

.icon {
    width: 80px;
}

#hero-img {
    width: 100%;
}

nav a,
.book, .join,
footer a {
    text-decoration: none;
}

footer p {
    font-size: 1.2em;
}

footer p a:hover {
    text-decoration: underline;
}
